.app-nav {
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: center;
}

.app-nav .nav-container {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.app-nav .nav-container li {
  cursor: pointer;
}

.app-nav .nav-container li a {
  color: var(--clr2);
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

.app-nav .nav-container li a:hover {
  transform: scale(1.1);
}

.app-nav .nav-container li a:active {
  color: rgba(0, 0, 0, 0.6);
}
