.app-header {
  display: none;
  background: var(--core-caution-40_25);
}

@media (min-width: 700px) {
  .app-header {
    display: block;
    position: sticky;
    top: 0;
    z-index: var(--core-z-index-sticky);
    backdrop-filter: var(--core-blur-10);
  }
}

.app-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header-container i {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.app-header-container i:hover {
  transform: scale(1.1);
}
